In [1]:
import csv
import os
import math
import pandas as pd

In [8]:
data_location = "C:/Users/shawn/Programs/Syntheco_darcy/syntheco_data_utils/SummaryCounts"
data_csv = os.path.join(data_location,"HHInfo2011.csv")
metadata_csv = os.path.join(data_location,"metadata.csv")

In [9]:
data = pd.read_csv(data_csv)

In [10]:
data.head()

,Geography,Structural type of dwelling (10),Household type (17),Household size (9),Time,Value
0,1,1,1,1,2011,78960.0
1,1,1,1,2,2011,18865.0
2,1,1,1,3,2011,28050.0
3,1,1,1,4,2011,15175.0
4,1,1,1,5,2011,12425.0

Now reduce the dataframe to just quebec census tracts

In [13]:
data_quebec = data[data.apply(lambda x: (str(x['Geography']).startswith("462") and x['Geography'] != 462), axis=1)]

In [14]:
data_quebec.head()

,Geography,Structural type of dwelling (10),Household type (17),Household size (9),Time,Value
962370,462000100,1,1,1,2011,1320.0
962371,462000100,1,1,2,2011,560.0
962372,462000100,1,1,3,2011,455.0
962373,462000100,1,1,4,2011,170.0
962374,462000100,1,1,5,2011,95.0

This creates the marginal table for Household size

In [17]:
data_hhsize = data_quebec.groupby(['Geography', 'Household size (9)'])[["Value"]].sum()

In [18]:
data_hhsize.head()

                                Value
Geography Household size (9)
462000100 1                   15345.0
          2                    5045.0
          3                    5980.0
          4                    2330.0
          5                    1420.0